/*<style type="text/css">#crystalImage {
         width: 50px;
         height: 50px;
         }*/

.container {
      width:350px;
      float:none;
      padding:10px; 
      float:left;
      padding:10px; 
  }

  /*#jumbotron {
      color: #fff;
      font-size: 20px;
      height: 400px;
      text-align: right;
      padding:10px;
      background-image: url(http://cdn.playbuzz.com/cdn/35910209-2844-45c0-b099-f4d82878d54f/00261fda-4062-4096-81fd-8cf96b9034e8.jpg); 
  }*/

img {
    border: 1px solid black;
    position: absolute;
    left: 0px;
    top: 0px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    z-index: -1;
    }

body {
    background: url("..images/concrete_seamless.png");
    font-size: 18px;
    line-height: 34px;
    font-family: 'Ariel', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    }
<<<<<<< HEAD

=======
>>>>>>> 65e4430a704331a9591b6949fdc86d8c548ef5e4

h1   { 
    font-family: 'Georgia', Times, Times New Roman, serif;
}
<<<<<<< HEAD
=======

>>>>>>> 65e4430a704331a9591b6949fdc86d8c548ef5e4
h3 {
  width: 250px;
  height: 90px;
  border: 1px solid black;
  background: #4aaaa5;
  float: left;
  font-family: 'Georgia', Times, Times New Roman, serif;
  text-align: center;
  line-height: 90px;
  color: #fff;
  font-weight: 700;
  font-size: 30px;
  text-decoration: none;

  }  
.total score {
      background-color: #4CAF50;  Green 
      border: 1px solid black;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
  }

<script>
function myFunction() {
    location.reload();
}
</script>
</style>
